.page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  height: 100%;
  width: 100%;
}

.columns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}


.input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1em;
}

input {
  text-align: center;
  font-size: 1em;
  height: 1em;
  width: 15em;
  border-top-width: 0.1em;
  border-right-width: 0.1em;
  border-left-width: 0.1em;
  border-bottom-width: 0.1em;
  border-color: rgba(131, 131, 131, 0.22);
  padding: 0.9em 2em;
  /*margin: 0.5em 0 0 0 ;*/
  color: #161616;
  border-radius: 0.3em;
}

.sendButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4CA5FF;
  margin: 0.5em 0 0 0 ;
  padding: 0.9em 2em;
  font-size: 1em;
  height: 1.25em;
  width: 15em;
  color: white;
  border-radius: 0.3em;

  cursor: pointer;
}

.result {
  margin: 0.5em;
  font-size: 2em;
}
